@import url(index.css);
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header {
        padding: 2rem 3rem;
    }

    .section{
        padding: 3rem;
    }
}

@media (max-width:768px) {
    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: var(--white);
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .home .content h3{
        font-size: 4.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .home .content h3{
        font-size: 3.5rem;
    }
}